<h1>New Dojos</h1>


<form action="/dojos/<%=@dojos.id%>/update" method="post">
<input type="hidden" name="_method" value="patch">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<p>Branch</p>
<input type="text" name="branch" value="<%=@dojos.branch %>">
<p>Street</p>
<input type="text" name="street" value ="<%=@dojos.street %>">
<p>City</p>
<input type="text" name="city" value ="<%=@dojos.city %>">
<p>State</p>
<input type="text" name="state" value ="<%=@dojos.state %>"><br>
<input type="submit" value="Update">

</form>
<a href="/dojos">Home</a> | | <a href="/dojos/<%=@dojos.id %> ">Show</a>