
<p><%=flash[:success]%></p>
<h1 class="setting"><%=@dojos.branch%></h1> <a href="/dojos/<%=@dojos.id%>/edit">Edit</a> 
<p>Address <%=@dojos.street%></p>
<p>City <%=@dojos.city%> State  <%=@dojos.state%> </p>

<h1>Student Roster</h1>

<table id="customers">
  <thead>
    <tr>
      <td>First_name</td>
      <td>Last_name</td>
      <td>Email</td>
      <td>Action</td>
    </tr>
  </thead>
  <tbody>
  <% @students.each do |u| %>
    <tr>
      <td><%= u.first_name %></td>
      <td><%= u.last_name %></td>
      <td><%= u.email %></td>
      <td><a href="/dojos/<%=@dojos.id %>/students/<%=u.id %>">Show</a> ||<a href="/dojos/<%= u.id %>/edit">Edit</a>||<a href="/dojos/<%= u.id %>/delete "data-method="delete">delete</a> </td>
    </tr>
  <% end %>  
  </tbody>
</table> <br>







<a href="/dojos">Home</a>
<a class = "margin-left" href="/dojos/<%=@dojos.id%>/students/new">Add Student</a>